@font-face {
    font-family: "LifeCraft";
    src: url('../font/LifeCraft_Font.ttf');
}

body {
}

h1 {
    font-size: 80px;
    font-family: "LifeCraft";
    font-weight: normal;
}

#map {
    border-collapse: collapse;
}



#map td {
    padding: 0;
    width:50px;
    height:50px;
    background: url('../images/grass.png') no-repeat;
    background-color: #bcea5e;
}

.character {
    width:42px;
    height:42px;
}

.left {
    transform: rotate(180deg);
}
.top {
    transform: rotate(-90deg);
}
.bottom {
    transform: rotate(90deg);
}