@font-face {
    font-family: "LifeCraft";
    src: url('../font/LifeCraft_Font.ttf');
}

body {
    font-family: "LifeCraft";
}

h1 {
    font-size: 80px;
    font-weight: normal;
}

#map {
    border-collapse: collapse;
}

#map td {
    padding: 0;
    width:50px;
    height:50px;
    background: url('../images/grass.png') no-repeat;
}